

/* stylelint-disable */

/* These variables can be used to control values throughout the job board. */
:root {
    /*  Darker primary color
    WARNING - This can be set in the Ashby admin under theme settings!
    If you modify, you should make sure your colors work with the settings there. */
    --colorPrimary900: #18232B;

    /*  Lighter primary color
    WARNING - This can be set in the Ashby admin under theme settings!
    If you modify, you should make sure your colors work with the settings there. */
    --colorPrimary600: #3BA6D1;

    /*  The max width of the job board container */
    --widthMaxJobBoard: 1000px;

    /*  The max width of the application form section */
    /* --widthMaxJobBoard: 1000px; */

    /*  Container border radius */
    --borderRadiusContainer: 0px;

    /*  Border radius of control elements (e.g. input boxes) */
    --borderRadiusControl: 8px;

    /*  Button border radius */
    --borderRadiusButton: 0px;

    /*  Font families */
    --fontFamily: "Inter", sans-serif ;

    --colorAppBackground: #F5F8FB;
    --colorNeutral800: #4F5E66;
    --colorNeutral100: #F5F8FB;
    --colorNeutral000: #FFFFFF;
    --colorNeutralShadow: rgba(6, 18, 25, 0.08);
  }

/* Application autofill input's base layer element. This contains standard copy, a CTA button, and potential validation alerts. */
.ashby-application-form-autofill-input-base-layer {}

/* Application autofill input's description. */
.ashby-application-form-autofill-input-description {}

/* Application autofill input's drag state overlay element. Can style [data-state] which can be 'active' or 'hidden'. */
.ashby-application-form-autofill-input-drag-layer {}

/* Application autofill input form's alert element. Can style [data-highlight] which can be 'negative' or 'positive'. */
.ashby-application-form-autofill-input-form-alert {}

/* Application autofill input's magic sparkles icon. */
.ashby-application-form-autofill-input-icon {}

/* Application autofill input's pending state overlay element. Can style [data-state] which can be 'active' or 'hidden'. */
.ashby-application-form-autofill-input-pending-layer {}

/* Application autofill input's root element. Can style [data-state] which can be 'pending', 'drag', or 'default'. */
.ashby-application-form-autofill-input-root {}

/* Application autofill input's title. */
.ashby-application-form-autofill-input-title {}

/* Container element for application autofill input form. */
.ashby-application-form-autofill-pane {}

/* The resume uploader to auto-fill the application form */
.ashby-application-form-autofill-uploader {}

/* A container for displaying the custom message to the user */
.ashby-application-form-blocked-application-container {}

/* A container for the application form. */
.ashby-application-form-container {}

/* A container for the failure message */
.ashby-application-form-failure-container {}

/* A container for the label and input on an application form. */
.ashby-application-form-field-entry {}

/* The description of each question on an application form. Will only show if a description is specified. */
.ashby-application-form-question-description {}

/* The title of each question on an application form. */
.ashby-application-form-question-title {}

/* A single section on the Ashby application form. All questions will be wrapped in sections, though the default section may not have a title. */
.ashby-application-form-section-container {}

/* The header for an application form section, possibly containing a title and description. */
.ashby-application-form-section-header {}

/* The description for an application form section. May not exist if no description was specified. */
.ashby-application-form-section-header-description {}

/* The title for an application form section. May not exist for the default section. */
.ashby-application-form-section-header-title {}

/* The application submission button. Will have loading and hover states that should be tested. */
.ashby-application-form-submit-button {}

/* A container for the success message */
.ashby-application-form-success-container {}

/* The text message consent description. Displayed below phone number fields. Will only show if texting is enabled. */
.ashby-application-form-texting-consent-description {}

/* The heading of a department, which can have many teams under it. */
.ashby-department-heading {}

/* The heading of a single team. */
.ashby-department-heading-level {}

/* The button which allows users to navigate from an individual posting back to the list of all job postings. */
.ashby-job-board-back-to-all-jobs-button {}

/* A select box element for filtering the job board. */
.ashby-job-board-filter {
    border: 1px solid var(--colorNeutral800);
    box-shadow: 0px 4px 10px 0px rgba(17, 17, 17, 0.02);
    transition: border-color 0.3s ease;
}

.ashby-job-board-filter:hover,
.ashby-job-board-filter:focus-visible {
    border: 1px solid var(--colorPrimary600);
    box-shadow: 0 0 0 0px var(--colorPrimary600);
}

/* The 'Filters' label element in the job board. */
.ashby-job-board-filters-label {
    color: var(--colorNeutral800);
}

/* The heading of the entire job board. */
.ashby-job-board-heading {}

/* The count of job postings on the job board. */
.ashby-job-board-heading-count {}

/* The 'Reset filters' label element in the job board. The reset filters label element in the job board. */
.ashby-job-board-reset-filters-label {}

/* The container of the job posting details pane. */
.ashby-job-posting-brief {
    /* This adds some space between posting briefings. */
    margin-bottom: 24px;
    transition: transform 0.3s ease;
}

.ashby-job-posting-brief:hover {
  background-color: var(--colorNeutral000);
  transform: scale(1.01);
}

/* The heading of a department name. Departments group teams. */
.ashby-job-posting-brief-department-heading {}

/* The heading of a single team. */
.ashby-job-posting-brief-department-heading-level {}

/* The container for the details of the job posting, in the details pane. */
.ashby-job-posting-brief-details {}

/* The container for the list of job post briefings. */
.ashby-job-posting-brief-list {}

/* The title of the job posting in the details pane. */
.ashby-job-posting-brief-title {
    color: var(--colorNeutral800);
}

/* The main header on the job posting page */
.ashby-job-posting-header {}

/* The heading of a job post */
.ashby-job-posting-heading {}

/* The left pane of the job posting, with the job posting details */
.ashby-job-posting-left-pane {}

/* The right pane of the job posting, containing the tabs, overview, and application form */
.ashby-job-posting-right-pane {}

/* The application tab in the right pane of the job posting */
.ashby-job-posting-right-pane-application-tab {}

/* The overview tab in the right pane of the job posting */
.ashby-job-posting-right-pane-overview-tab {}

/* The tabs slider in the right pane of the job posting */
.ashby-job-posting-right-pane-tab-slider {}

/* A container for any surveys specified for this application form. */

.ashby-survey-form-container {}
